DDS-RTPS/RTPS-Impl/Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Configuration" elementFormDefault="qualified" targetNamespace="urn:Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DDS" type="tns:Doopec.Configuration.DDSConfigurationSectionCT" />
	<xs:element name="RTPS" type="tns:Doopec.Configuration.RTPSConfigurationSectionCT" />
	<xs:complexType name="Doopec.Configuration.DDSConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="domains" type="tns:Doopec.Configuration.Dds.DomainsCT">
				<xs:annotation>
					<xs:documentation>The Domains.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logLevel" type="tns:Doopec.Configuration.Dds.Log4NetLevelCT">
				<xs:annotation>
					<xs:documentation>The LogLevel.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.RTPSConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="transports" type="tns:Doopec.Configuration.Rtps.TransportsCT">
				<xs:annotation>
					<xs:documentation>The Transports.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.TransportCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="ttl" type="tns:Doopec.Configuration.Rtps.TTLCT">
				<xs:annotation>
					<xs:documentation>The value of the Time-To-Live (TTL) field of multicast datagrams sent as part of discovery. This value specifies the number of hops the datagram will traverse before being discarded by the network. he default value of 1 means that all data is restricted to the local network subnet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="discovery" type="tns:Doopec.Configuration.Rtps.DiscoveryCT">
				<xs:annotation>
					<xs:documentation>The Discovery.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="rtpsWriter" type="tns:Doopec.Configuration.Rtps.RtpsWriterCT">
				<xs:annotation>
					<xs:documentation>The RtpsWriter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="rtpsReader" type="tns:Doopec.Configuration.Rtps.RtpsReaderCT">
				<xs:annotation>
					<xs:documentation>The RtpsReader.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.TransportsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="transport" type="tns:Doopec.Configuration.Rtps.TransportCT">
				<xs:annotation>
					<xs:documentation>The Transport Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.DomainsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="domain" type="tns:Doopec.Configuration.Dds.DomainCT">
				<xs:annotation>
					<xs:documentation>The Domain Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.DomainCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="transportProfile" type="tns:Doopec.Configuration.Dds.TransportProfileCT">
				<xs:annotation>
					<xs:documentation>The TransportProfile.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="qoS" type="tns:Doopec.Configuration.Dds.DomainQoSCT">
				<xs:annotation>
					<xs:documentation>The QoS.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>Domain IDs should be between 0 and 231 (inclusive) due to the way UDP ports are assigned to domain IDs. In each  process, up to 120 domain participants are supported in each domain</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.Log4NetLevelCT">
		<xs:attribute name="levelMin" use="required" type="tns:LogLevel">
			<xs:annotation>
				<xs:documentation>The LevelMin.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="levelMax" use="optional" type="tns:LogLevel">
			<xs:annotation>
				<xs:documentation>The LevelMax.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.DiscoveryCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="resendPeriod" type="tns:Doopec.Configuration.Rtps.ResendPeriodCT">
				<xs:annotation>
					<xs:documentation>The number of seconds that a process waits between the announcement of participants (see section 8.5.3 in the OMG DDS-RTPS specification  for details).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="portBase" type="tns:Doopec.Configuration.Rtps.PortBaseCT">
				<xs:annotation>
					<xs:documentation>Port Base number. This number sets the starting point for deriving port numbers used for Simple Endpoint Discovery Protocol (SEDP). This property is used in conjunction with DG, PG, D0, and D1 to construct the necessary Endpoints for RTPS discovery communication. (see section 9.6.1.1 in the OMG DDS-RTPS specification in how these Endpoints are constructed)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="domainGain" type="tns:Doopec.Configuration.Rtps.PortGainCT">
				<xs:annotation>
					<xs:documentation>An integer value representing the Domain Gain. This is a multiplier that assists in formulating Multicast or Unicast ports for RTPS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="offsetMetatrafficUnicast" type="tns:Doopec.Configuration.Rtps.OffsetUnicastCT">
				<xs:annotation>
					<xs:documentation>D0. An integer value that assists in providing an offset for calculating an assignable port in SPDP Multicast configurations. The formula used is: PB + DG * domainId + d0 (see section 9.6.1.1 in the OMG DDS-RTPS specification in how these Endpoints are constructed)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="offsetMetatrafficMulticast" type="tns:Doopec.Configuration.Rtps.OffsetMulticastCT">
				<xs:annotation>
					<xs:documentation>D1. An integer value that assists in providing an offset for calculating an assignable port in SPDP Unicast configurations. The formula used is: PB + DG * domainId + d1 + PG * participantId (see section 9.6.1.1 in the OMG DDS-RTPS specification in how these Endpoints are constructed)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="useSedpMulticast" type="tns:Doopec.Configuration.Rtps.UseSedpMulticastCT">
				<xs:annotation>
					<xs:documentation>The UseSedpMulticast.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="metatrafficUnicastLocatorList" type="tns:Doopec.Configuration.Rtps.LocatorAddrsCT">
				<xs:annotation>
					<xs:documentation>The MetatrafficUnicastLocatorList.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="metatrafficMulticastLocatorList" type="tns:Doopec.Configuration.Rtps.LocatorAddrsCT">
				<xs:annotation>
					<xs:documentation>A network address specifying the multicast group to be used for SPDP discovery. This overrides the interoperability group of the specification. It ca be used, for example, to specify use of a routed group address to provide a larger discovery scope.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="participantGain" type="tns:Doopec.Configuration.Rtps.PortGainCT">
				<xs:annotation>
					<xs:documentation>An integer that assists in configuring SPDP Unicast ports and serves as an offset multiplier as participants are assigned addresses using the formula: PB + DG * domainId + d1 + PG * participantId (see section 9.6.1.1 in the OMG DDS-RTPS specification in how these Endpoints are constructed)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="defaultUnicastLocatorList" type="tns:Doopec.Configuration.Rtps.LocatorAddrsCT">
				<xs:annotation>
					<xs:documentation>The DefaultUnicastLocatorList.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="defaultMulticastLocatorList" type="tns:Doopec.Configuration.Rtps.LocatorAddrsCT">
				<xs:annotation>
					<xs:documentation>A network address specifying the multicast group to be used for SPDP discovery. This overrides the interoperability group of the specification. It ca be used, for example, to specify use of a routed group address to provide a larger discovery scope.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="offsetUserTrafficUnicast" type="tns:Doopec.Configuration.Rtps.OffsetUnicastCT">
				<xs:annotation>
					<xs:documentation>D0. An integer value that assists in providing an offset for calculating an assignable port in SPDP Multicast configurations. The formula used is: PB + DG * domainId + d0 (see section 9.6.1.1 in the OMG DDS-RTPS specification in how these Endpoints are constructed)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="offsetUserTrafficMulticast" type="tns:Doopec.Configuration.Rtps.OffsetMulticastCT">
				<xs:annotation>
					<xs:documentation>D1. An integer value that assists in providing an offset for calculating an assignable port in SPDP Unicast configurations. The formula used is: PB + DG * domainId + d1 + PG * participantId (see section 9.6.1.1 in the OMG DDS-RTPS specification in how these Endpoints are constructed)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="availableBuiltinEndpoints" type="tns:Doopec.Configuration.Rtps.Generic_TODOCT">
				<xs:annotation>
					<xs:documentation>The AvailableBuiltinEndpoints.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.ResendPeriodCT">
		<xs:attribute name="val" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.PortBaseCT">
		<xs:attribute name="val" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.PortGainCT">
		<xs:attribute name="val" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.OffsetUnicastCT">
		<xs:attribute name="val" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.OffsetMulticastCT">
		<xs:attribute name="val" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.UseSedpMulticastCT">
		<xs:attribute name="val" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.LocatorAddrsCT">
		<xs:attribute name="val" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.TTLCT">
		<xs:attribute name="val" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.DomainParticipantQoSCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="userData" type="tns:Doopec.Configuration.Dds.QosDataCT">
				<xs:annotation>
					<xs:documentation>The UserData.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="entityFactory" type="tns:Doopec.Configuration.Dds.QoSEntityFactoryCT">
				<xs:annotation>
					<xs:documentation>The EntityFactory.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QosDataCT">
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSEntityFactoryCT">
		<xs:attribute name="autoenableCreatedEntities" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AutoenableCreatedEntities.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.PublisherQoSCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="groupData" type="tns:Doopec.Configuration.Dds.QosDataCT">
				<xs:annotation>
					<xs:documentation>The GroupData.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="presentation" type="tns:Doopec.Configuration.Dds.QoSPresentationCT">
				<xs:annotation>
					<xs:documentation>The Presentation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="partition" type="tns:Doopec.Configuration.Dds.QoSPartitionCT">
				<xs:annotation>
					<xs:documentation>The Partition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="entityFactory" type="tns:Doopec.Configuration.Dds.QoSEntityFactoryCT">
				<xs:annotation>
					<xs:documentation>The EntityFactory.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSPresentationCT">
		<xs:attribute name="accessScope" use="required" type="tns:AccessScope">
			<xs:annotation>
				<xs:documentation>The AccessScope.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="coherentAccess" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The CoherentAccess.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="orderedAccess" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The OrderedAccess.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.SubscriberQoSCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="groupData" type="tns:Doopec.Configuration.Dds.QosDataCT">
				<xs:annotation>
					<xs:documentation>The GroupData.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="presentation" type="tns:Doopec.Configuration.Dds.QoSPresentationCT">
				<xs:annotation>
					<xs:documentation>The Presentation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="partition" type="tns:Doopec.Configuration.Dds.QosDataCT">
				<xs:annotation>
					<xs:documentation>The Partition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="entityFactory" type="tns:Doopec.Configuration.Dds.QoSEntityFactoryCT">
				<xs:annotation>
					<xs:documentation>The EntityFactory.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.DomainQoSCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="domainParticipantQos" type="tns:Doopec.Configuration.Dds.DomainParticipantQoSCT">
				<xs:annotation>
					<xs:documentation>The DomainParticipantQos.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="publisherQoS" type="tns:Doopec.Configuration.Dds.PublisherQoSCT">
				<xs:annotation>
					<xs:documentation>The PublisherQoS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="subscriberQoS" type="tns:Doopec.Configuration.Dds.SubscriberQoSCT">
				<xs:annotation>
					<xs:documentation>The SubscriberQoS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="topicQoS" type="tns:Doopec.Configuration.Dds.TopicQoSCT">
				<xs:annotation>
					<xs:documentation>The TopicQoS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dataWriterQoS" type="tns:Doopec.Configuration.Dds.DataWriterQoSCT">
				<xs:annotation>
					<xs:documentation>The DataWriterQoS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="dataReaderQoS" type="tns:Doopec.Configuration.Dds.DataReaderQoSCT">
				<xs:annotation>
					<xs:documentation>The DataReaderQoS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="domainParticipantFactoryQos" type="tns:Configuration.Dds.DomainParticipantFactoryQoSCT">
				<xs:annotation>
					<xs:documentation>The DomainParticipantFactoryQos.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.TopicQoSCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="topicData" type="tns:Doopec.Configuration.Dds.QosDataCT">
				<xs:annotation>
					<xs:documentation>The TopicData.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="durability" type="tns:Doopec.Configuration.Dds.QoSDurabilityCT">
				<xs:annotation>
					<xs:documentation>The Durability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="deadline" type="tns:Doopec.Configuration.Dds.QoSDeadlineCT">
				<xs:annotation>
					<xs:documentation>The Deadline.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="reliability" type="tns:Doopec.Configuration.Dds.QoSReabilityCT">
				<xs:annotation>
					<xs:documentation>The Reliability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="transportPriority" type="tns:Doopec.Configuration.Dds.QoSTransportPriorityCT">
				<xs:annotation>
					<xs:documentation>The TransportPriority.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="history" type="tns:Doopec.Configuration.Dds.QoSHistoryCT">
				<xs:annotation>
					<xs:documentation>The History.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="durabilityService" type="tns:Doopec.Configuration.Dds.QoSDurabilityServiceCT">
				<xs:annotation>
					<xs:documentation>The DurabilityService.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="latencyBudget" type="tns:Doopec.Configuration.Dds.QoSLatencyBudgetCT">
				<xs:annotation>
					<xs:documentation>The LatencyBudget.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ownership" type="tns:Doopec.Configuration.Dds.QoSOwnershipCT">
				<xs:annotation>
					<xs:documentation>The Ownership.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="liveliness" type="tns:Doopec.Configuration.Dds.QoSLivelinessCT">
				<xs:annotation>
					<xs:documentation>The Liveliness.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="lifespan" type="tns:Doopec.Configuration.Dds.QoSLifespanCT">
				<xs:annotation>
					<xs:documentation>The Lifespan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="destinationOrder" type="tns:Doopec.Configuration.Dds.QoSDestinationOrderCT">
				<xs:annotation>
					<xs:documentation>The DestinationOrder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="resourceLimits" type="tns:Doopec.Configuration.Dds.QoSResourceLimitsCT">
				<xs:annotation>
					<xs:documentation>The ResourceLimits.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSDurabilityCT">
		<xs:attribute name="kind" use="required" type="tns:Durability">
			<xs:annotation>
				<xs:documentation>The Kind.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.DataWriterQoSCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="userData" type="tns:Doopec.Configuration.Dds.QosDataCT">
				<xs:annotation>
					<xs:documentation>The UserData.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="durability" type="tns:Doopec.Configuration.Dds.QoSDurabilityCT">
				<xs:annotation>
					<xs:documentation>The Durability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="deadline" type="tns:Doopec.Configuration.Dds.QoSDeadlineCT">
				<xs:annotation>
					<xs:documentation>The Deadline.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="reliability" type="tns:Doopec.Configuration.Dds.QoSReabilityCT">
				<xs:annotation>
					<xs:documentation>The Reliability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="transportPriority" type="tns:Doopec.Configuration.Dds.QoSTransportPriorityCT">
				<xs:annotation>
					<xs:documentation>The TransportPriority.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="history" type="tns:Doopec.Configuration.Dds.QoSHistoryCT">
				<xs:annotation>
					<xs:documentation>The History.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="durabilityService" type="tns:Doopec.Configuration.Dds.QoSDurabilityServiceCT">
				<xs:annotation>
					<xs:documentation>The DurabilityService.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="latencyBudget" type="tns:Doopec.Configuration.Dds.QoSLatencyBudgetCT">
				<xs:annotation>
					<xs:documentation>The LatencyBudget.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ownership" type="tns:Doopec.Configuration.Dds.QoSOwnershipCT">
				<xs:annotation>
					<xs:documentation>The Ownership.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ownershipStrength" type="tns:Configuration.Dds.QoSOwnershipStrengthCT">
				<xs:annotation>
					<xs:documentation>The OwnershipStrength.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="liveliness" type="tns:Doopec.Configuration.Dds.QoSLivelinessCT">
				<xs:annotation>
					<xs:documentation>The Liveliness.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="lifespan" type="tns:Doopec.Configuration.Dds.QoSLifespanCT">
				<xs:annotation>
					<xs:documentation>The Lifespan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="destinationOrder" type="tns:Doopec.Configuration.Dds.QoSDestinationOrderCT">
				<xs:annotation>
					<xs:documentation>The DestinationOrder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="resourceLimits" type="tns:Doopec.Configuration.Dds.QoSResourceLimitsCT">
				<xs:annotation>
					<xs:documentation>The ResourceLimits.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="writerDataLifecycle" type="tns:Doopec.Configuration.Dds.QoSWriterDataLifecycleCT">
				<xs:annotation>
					<xs:documentation>The WriterDataLifecycle.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.DataReaderQoSCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="userData" type="tns:Doopec.Configuration.Dds.QosDataCT">
				<xs:annotation>
					<xs:documentation>The UserData.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="durability" type="tns:Doopec.Configuration.Dds.QoSDurabilityCT">
				<xs:annotation>
					<xs:documentation>The Durability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="deadline" type="tns:Doopec.Configuration.Dds.QoSDeadlineCT">
				<xs:annotation>
					<xs:documentation>The Deadline.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="reliability" type="tns:Doopec.Configuration.Dds.QoSReabilityCT">
				<xs:annotation>
					<xs:documentation>The Reliability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="history" type="tns:Doopec.Configuration.Dds.QoSHistoryCT">
				<xs:annotation>
					<xs:documentation>The History.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="latencyBudget" type="tns:Doopec.Configuration.Dds.QoSLatencyBudgetCT">
				<xs:annotation>
					<xs:documentation>The LatencyBudget.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ownership" type="tns:Doopec.Configuration.Dds.QoSOwnershipCT">
				<xs:annotation>
					<xs:documentation>The Ownership.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="liveliness" type="tns:Doopec.Configuration.Dds.QoSLivelinessCT">
				<xs:annotation>
					<xs:documentation>The Liveliness.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="timeBasedFilter" type="tns:Doopec.Configuration.Dds.QoSTimeBasedFilterCT">
				<xs:annotation>
					<xs:documentation>The TimeBasedFilter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="destinationOrder" type="tns:Doopec.Configuration.Dds.QoSDestinationOrderCT">
				<xs:annotation>
					<xs:documentation>The DestinationOrder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="resourceLimits" type="tns:Doopec.Configuration.Dds.QoSResourceLimitsCT">
				<xs:annotation>
					<xs:documentation>The ResourceLimits.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="readerDataLifecycle" type="tns:Doopec.Configuration.Dds.QoSReaderDataLifecycleCT">
				<xs:annotation>
					<xs:documentation>The ReaderDataLifecycle.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSReabilityCT">
		<xs:attribute name="kind" use="required" type="tns:Reliability">
			<xs:annotation>
				<xs:documentation>The Kind.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxBlockingTime" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The MaxBlockingTime.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSTransportPriorityCT">
		<xs:attribute name="value" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSHistoryCT">
		<xs:attribute name="kind" use="required" type="tns:History">
			<xs:annotation>
				<xs:documentation>The Kind.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="depth" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Depth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.RtpsWriterCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="pushMode" type="tns:Doopec.Configuration.Rtps.PushModeCT">
				<xs:annotation>
					<xs:documentation>This configuration parameter affects how writer communicates changes to readers. If push-mode is false, writer will announce new data to readers by sending a Heartbeat message. If set to true, writer will send the changes to all matched readers directly.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="heartbeatPeriod" type="tns:Doopec.Configuration.Rtps.HeartbeatPeriodCT">
				<xs:annotation>
					<xs:documentation>This configuration parameter tells how often writer will advertise the changes it has by sending a Heartbeat message. Note, that Heartbeats will be sent regardless of push-mode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="nackResponseDelay" type="tns:Doopec.Configuration.Rtps.ResponseDelayCT">
				<xs:annotation>
					<xs:documentation>When writer receives a AckNack message, it will wait nack-response-delay before it considers how to respond to reader.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="nackSuppressionDuration" type="tns:Doopec.Configuration.Rtps.SuppressionDurationCT">
				<xs:annotation>
					<xs:documentation>This parameter let's writer discard reception of AckNack message, if it arrives 'too soon'.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.RtpsReaderCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="heartbeatResponseDelay" type="tns:Doopec.Configuration.Rtps.ResponseDelayCT">
				<xs:annotation>
					<xs:documentation>Reader waits this amount of time before reacting on writers Heartbeat message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="heartbeatSuppressionDuration" type="tns:Doopec.Configuration.Rtps.SuppressionDurationCT">
				<xs:annotation>
					<xs:documentation>This parameter allows reader to discard reception Heartbeat messages that arrive 'too soon'.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.PushModeCT">
		<xs:attribute name="val" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.HeartbeatPeriodCT">
		<xs:attribute name="val" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.ResponseDelayCT">
		<xs:attribute name="val" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.SuppressionDurationCT">
		<xs:attribute name="val" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSLifespanCT">
		<xs:attribute name="duration" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Duration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSOwnershipCT">
		<xs:attribute name="kind" use="required" type="tns:Ownership">
			<xs:annotation>
				<xs:documentation>The Kind.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Configuration.Dds.QoSOwnershipStrengthCT">
		<xs:attribute name="value" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSWriterDataLifecycleCT">
		<xs:attribute name="autodisposeUnregisteredInstances" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AutodisposeUnregisteredInstances.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSReaderDataLifecycleCT">
		<xs:attribute name="autopurgeDisposedSamplesDelay" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The AutopurgeDisposedSamplesDelay.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="autopurgeNowriterSamplesDelay" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The AutopurgeNowriterSamplesDelay.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSLatencyBudgetCT">
		<xs:attribute name="duration" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The Duration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSDeadlineCT">
		<xs:attribute name="period" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The Period.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSTimeBasedFilterCT">
		<xs:attribute name="minimumSeparation" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The MinimumSeparation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSPartitionCT">
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSLivelinessCT">
		<xs:attribute name="leaseDuration" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The LeaseDuration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="kind" use="required" type="tns:Liveliness">
			<xs:annotation>
				<xs:documentation>The Kind.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSResourceLimitsCT">
		<xs:attribute name="maxSamples" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxSamples.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxInstances" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxInstances.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxSamplesPerInstance" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxSamplesPerInstance.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSDurabilityServiceCT">
		<xs:attribute name="serviceCleanupDelay" use="required" type="xs:long">
			<xs:annotation>
				<xs:documentation>The ServiceCleanupDelay.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="historyKind" use="required" type="tns:History">
			<xs:annotation>
				<xs:documentation>The HistoryKind.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="historyDepth" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The HistoryDepth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxSamples" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxSamples.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxInstances" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxInstances.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxSamplesPerInstance" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxSamplesPerInstance.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.QoSDestinationOrderCT">
		<xs:attribute name="kind" use="required" type="tns:DestinationOrder">
			<xs:annotation>
				<xs:documentation>The Kind.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Configuration.Dds.DomainParticipantFactoryQoSCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="entityFactory" type="tns:Doopec.Configuration.Dds.QoSEntityFactoryCT">
				<xs:annotation>
					<xs:documentation>The EntityFactory.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Dds.TransportProfileCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Doopec.Configuration.Rtps.Generic_TODOCT">
		<xs:attribute name="val" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Val.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="LogLevel">
		<xs:annotation>
			<xs:documentation>LogLevel.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALL">
				<xs:annotation>
					<xs:documentation>ALL.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEBUG">
				<xs:annotation>
					<xs:documentation>DEBUG.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WARN">
				<xs:annotation>
					<xs:documentation>WARN.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INFO">
				<xs:annotation>
					<xs:documentation>INFO.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR">
				<xs:annotation>
					<xs:documentation>ERROR.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FATAL">
				<xs:annotation>
					<xs:documentation>FATAL.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OFF">
				<xs:annotation>
					<xs:documentation>OFF.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Durability">
		<xs:annotation>
			<xs:documentation>Durability.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VOLATILE">
				<xs:annotation>
					<xs:documentation>VOLATILE.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRANSIENT_LOCAL">
				<xs:annotation>
					<xs:documentation>TRANSIENT_LOCAL.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRANSIENT">
				<xs:annotation>
					<xs:documentation>TRANSIENT.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PERSISTENT">
				<xs:annotation>
					<xs:documentation>PERSISTENT.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Reliability">
		<xs:annotation>
			<xs:documentation>Reliability.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BEST_EFFORT">
				<xs:annotation>
					<xs:documentation>BEST_EFFORT.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RELIABLE">
				<xs:annotation>
					<xs:documentation>RELIABLE.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="History">
		<xs:annotation>
			<xs:documentation>History.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KEEP_LAST">
				<xs:annotation>
					<xs:documentation>KEEP_LAST.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KEEP_ALL">
				<xs:annotation>
					<xs:documentation>KEEP_ALL.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataRepresentation">
		<xs:annotation>
			<xs:documentation>DataRepresentation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="XCDR_DATA_REPRESENTATION">
				<xs:annotation>
					<xs:documentation>XCDR_DATA_REPRESENTATION.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XML_DATA_REPRESENTATION">
				<xs:annotation>
					<xs:documentation>XML_DATA_REPRESENTATION.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DestinationOrder">
		<xs:annotation>
			<xs:documentation>DestinationOrder.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BY_SOURCE_TIMESTAMP">
				<xs:annotation>
					<xs:documentation>BY_SOURCE_TIMESTAMP.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BY_RECEPTION_TIMESTAMP">
				<xs:annotation>
					<xs:documentation>BY_RECEPTION_TIMESTAMP.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Liveliness">
		<xs:annotation>
			<xs:documentation>Liveliness.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AUTOMATIC">
				<xs:annotation>
					<xs:documentation>AUTOMATIC.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MANUAL_BY_PARTICIPANT">
				<xs:annotation>
					<xs:documentation>MANUAL_BY_PARTICIPANT.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MANUAL_BY_TOPIC">
				<xs:annotation>
					<xs:documentation>MANUAL_BY_TOPIC.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Ownership">
		<xs:annotation>
			<xs:documentation>Ownership.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SHARED">
				<xs:annotation>
					<xs:documentation>SHARED.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXCLUSIVE">
				<xs:annotation>
					<xs:documentation>EXCLUSIVE.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccessScope">
		<xs:annotation>
			<xs:documentation>AccessScope.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INSTANCE">
				<xs:annotation>
					<xs:documentation>INSTANCE.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GROUP">
				<xs:annotation>
					<xs:documentation>GROUP.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOPIC">
				<xs:annotation>
					<xs:documentation>TOPIC.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeConsistencyEnforcement">
		<xs:annotation>
			<xs:documentation>TypeConsistencyEnforcement.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EXACT_TYPE_TYPE_CONSISTENCY">
				<xs:annotation>
					<xs:documentation>EXACT_TYPE_TYPE_CONSISTENCY.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXACT_NAME_TYPE_CONSISTENCY">
				<xs:annotation>
					<xs:documentation>EXACT_NAME_TYPE_CONSISTENCY.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DECLARED_TYPE_CONSISTENCY">
				<xs:annotation>
					<xs:documentation>DECLARED_TYPE_CONSISTENCY.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASSIGNABLE_TYPE_CONSISTENCY">
				<xs:annotation>
					<xs:documentation>ASSIGNABLE_TYPE_CONSISTENCY.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
